@page
@model CityOfCincy.Pages.DepartmentsModel
@using CityOfCincy.Models;
@{
    ViewData["Title"] = "Departments";
    var deptList = (List<DepartmentInfoResponse>)ViewData["departmentData"];
}

<div >
<div id="col-1">
        <div class="table">
            <div class="table-header">
            <div class="header__item">Available Job Positions </div>
        </div>
        <div class="table-content">
            <div style="overflow-y: hidden;">
                <div class="left">
                    @foreach (var item in deptList)
                    {
                        <a href="/DepartmentDetail?inputDept=@item.department_codes&stringName=@item.department">
                            <div class="card" style="margin-top:6px">
                                <div class="card-body">
                                    @item.department
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Make sure to include your col-2 content here -->
<div id="col-2">
        <h2 style="color:#BA68C8; align-content:center; font-family: 'Candara', cursive;">&nbsp;&nbsp;&nbsp;Departments In Cincinnati Public Sector</h2>
            <img width="600x" height="600x" src="~/Images/departmentpageimage.png" />
            
        <img width="600x" height="600x" src="~/Images/departmentpageimage2.png" />

        <img width="600x" height="600x" src="~/Images/Departmentpageimage3.png" />

    <!-- Your col-2 content here -->
</div>
</div>
