@page
@using CityOfCincy.Models;
@model CityOfCincy.Pages.DepartmentDetailModel
@{
    ViewData["Title"] = "Department Information";
    var DepartmentData = (DepartmentInfoResponse)ViewData["departmentInfo"];
    var SalaryData = (List<EmployeeSalaryResponse>)ViewData["salaryInfo"];
    var MapsAPIKey = (string)ViewData["MapsKey"];
}

<div class="card" align="left" style="width: 60rem;">
    <div class="card-header">
        <strong align="center">Department - @(DepartmentData?.department)</strong>
    </div>
    @if (SalaryData != null && SalaryData.Any())
    {
        <ul class="list-group list-group-flush" >
            <li class="list-group-item" >Average Salary - @(SalaryData.FirstOrDefault()?.annual_rt)</li>
            <li class="list-group-item">Positions - @(SalaryData.Count())</li>
            <li class="list-group-item">Role - @(SalaryData.FirstOrDefault()?.business_title)</li>
        </ul>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            No Vacancy Available.
        </div>
    }
</div>

<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-sm text-center">
            <br />
            <br />
            <iframe width="500"
                    height="350"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=@MapsAPIKey&q=@DepartmentData.department,Cincinnati+OH">
            </iframe>
        </div>
    </div>
</div>
