@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container" style="position:relative">
    <div class="row" style="margin-right: -89px;">
        <div class="col">
            <h2 class="heading">Welcome to City of Cincy</h2><br>
            <h6 class="subheading">Place to find the right jobs.</h6>
            <a asp-page="/Departments">
                <button class="searchbtn">
                    Explore Job Positions
                </button>
            </a>
        </div>
        <div class="col">
            <img width="400x" src="~/Images/Homescreenimage1.jpg" />
        </div>
    </div>
</div>
<hr />
<div class="container">
   <h2 class="smallheadings">About Us</h2>
    <div class="row">
        <div class="col">
            <p align="justify" class="aboutus">
                Welcome to City of Cincy – Your Gateway to a Rewarding Career in the Public Sector!

                At City of Cincy, we are committed to bridging the gap between talented individuals and meaningful public sector careers. 
                Our platform is dedicated to serving the public interest by connecting job seekers with opportunities in government, education, healthcare, and other essential public sector fields.
            </p>
        </div>
        <div class="col">
            <img width="400x" src="~/Images/Homescreenimage2.png" />
        </div>
    </div>
    <hr />
    <h2 class="smallheadings">Our Mission and Values</h2>
    <div class="row">
        <div class="col">
            <p align="justify" class="aboutus">
                Empowering Public Service Careers: Our mission is to empower individuals who are passionate 
                about public service to find the perfect opportunities 
                to make a positive impact on their communities, cities, and countries.
                <br />
             <ul align="justify" class="aboutus">
                <li>Integrity: We uphold the highest standards of ethics and transparency in all our interactions.</li>
                <li>Public Service Commitment: We share a genuine commitment to the principles of public service and civic responsibility.</li>
                <li>Inclusivity: We celebrate diversity and believe in creating a platform where opportunities are accessible to all.</li>
                <li>Innovation: We constantly innovate and improve our services to meet the evolving needs of the public sector job market.</li>
            </ul>
            </p>

        </div>
        <div class="col">
            <img src="~/Images/Homescreenimage3.jpg" width="400px" />
        </div>
    </div>
    <hr />
    <h2 class="smallheadings">Explore our key features</h2>
    <div style="margin-top:40px; margin-left:50px" class="row">
        <div class="col">
            <div class="card" style="width: 15rem;">
                <img class="card-img-top" src="~/Images/card1.png" width="250px" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Display job opportunities available in the city's public departments.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <img class="card-img-top" src="~/Images/card2.png" width="250px" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Provide insights into the salaries paid for the different job roles.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <img class="card-img-top" src="/Images/card3.png" width="250px" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Provide locations of the department</p>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h2 class="smallheadings">
        Meet our team!
    </h2>
    <div class="newcontainer">
        <div class="row">
            <div class="col-md-3">
                <div class="card profile-card-3">
                    <div class="background-block">
                        <img src="https://business.uc.edu/about/jcr:content/image.img.cq5dam.thumbnail.500.500.jpg/1661966071914.jpg" alt="profile-sample1" class="background" />
                    </div>
                    <div class="profile-thumb-block">
                        <img src="~/Images/ramimage.jpg" alt="profile-image" class="profile" />
                    </div>
                    <div class="card-content">
                        <h2>
                            Ramvyasa<small>Frontend Developer</small></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card profile-card-3">
                    <div class="background-block">
                        <img src="https://business.uc.edu/about/jcr:content/image.img.cq5dam.thumbnail.500.500.jpg/1661966071914.jpg" alt="profile-sample1" class="background" />
                    </div>
                    <div class="profile-thumb-block">
                        <img src="/Images/Hrishiimage.jpg" alt="profile-image" class="profile" />
                    </div>
                    <div class="card-content">
                        <h2>
                            Hrishikesh<small>Backend Developer</small></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card profile-card-3">
                    <div class="background-block">
                        <img src="https://business.uc.edu/about/jcr:content/image.img.cq5dam.thumbnail.500.500.jpg/1661966071914.jpg" alt="profile-sample1" class="background" />
                    </div>
                    <div class="profile-thumb-block">
                        <img src="~/Images/Neranjanimage.png" alt="profile-image" class="profile" />
                    </div>
                    <div class="card-content">
                        <h2>
                            Neranjan RS<small>Team Leader</small></h2>
                            
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card profile-card-3">
                    <div class="background-block">
                        <img src="https://business.uc.edu/about/jcr:content/image.img.cq5dam.thumbnail.500.500.jpg/1661966071914.jpg" alt="profile-sample1" class="background" />
                    </div>
                    <div class="profile-thumb-block">
                        <img src="/Images/Bandhaviimage.jpg" alt="profile-image" class="profile" />
                    </div>
                    <div class="card-content">
                        <h2>
                            Bandhavi<small>FrontEnd Developer</small></h2>
                            
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card profile-card-3">
                    <div class="background-block">
                        <img src="https://business.uc.edu/about/jcr:content/image.img.cq5dam.thumbnail.500.500.jpg/1661966071914.jpg" alt="profile-sample1" class="background" />
                    </div>
                    <div class="profile-thumb-block">
                        <img src="/Images/Swetaimage.jpg" alt="profile-image" class="profile" />
                    </div>
                    <div class="card-content">
                        <h2>
                            Sweta Pandya<small>FrontEnd Developer</small></h2>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>