@page
@using CityOfCincy.Models;
@model CityOfCincy.Pages.SalaryInformationDetailModel
@{
    ViewData["Title"] = "Individual Salary Information";
    List<EmployeeSalaryResponse> employeeSalaryResponse = (List<EmployeeSalaryResponse>)ViewData["individualSalaryResult"];
}

<table class="table table-striped table-bordered">
    <thead> 
        <tr class="table-secondary">
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Standard Hours Per Week</th>
            <th scope="col">Average Annual Salary (in USD) </th>
        </tr>
    </thead>

    <tbody>         
            @{
                foreach (var empSalary in employeeSalaryResponse)
                {
                    if (empSalary is not null)
                    {
                        <tr>
                        <td>@empSalary.name</td>
                        <td>@empSalary.deptname</td>
                        <td>@empSalary.std_hours</td>
                        <td>@empSalary.annual_rt</td>
                        </tr>
                       
                    }
                }
            }        
    </tbody>
</table>

   
        

   